$font-headings: pill-gothic-300mg, sans-serif;
$font-body: gill-sans-nova, sans-serif;
$font-serif: adobe-garamond-pro, serif;

$color-blue: #04a0c8;
$color-blue--light: #04cdff;
$color-blue--dark: #115c86;

$color-darkblue: #115c86;
$color-darkblue--light: #00acd8;
$color-off-white: #f3f7f9; // super lightblue?
